.header{
    width: 100%;
    height: 250px;
    background: var(--primary-color);
    position: relative;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    padding: 0 30px ;
    border-bottom:  1px solid var(--main-color);
}

.header-top{
font-size: 27px;
font-family: 500;
color:var(--main-color);
}

.header-menu{
    display: none;
    cursor: pointer;
    
}

.header-contact,.header-log{
    display: flex;
    gap: 3px;
}
.header-log{
    color: white;}


/* middle header */
.header-middle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    padding: 0 30px;
}
.logo-middle{
    display: flex;
    align-items: center;
    color:white;
    font-size: 20px;
}
.logo-middle i{
    font-size: 40px;
    margin: 0 8px;
}
.search-middle {
    position: relative;
    border-radius: 50px ;
    background: white;
    width: 700px;
    height: 50px;
    overflow: hidden;
}
.search-middle input{
    padding-left: 30px ;
    padding-right: 40px;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 24px;
    
}
.search-middle i{
position: absolute;
top: 12px;
right: 14px;
font-size: 24px;
color: gray;
}

.cart-middle
{
    font-size: 44px;
    color: white;
    position: relative;
}
.cart-middle{
    font-weight: 600;
}
.cart-middle .book_number_ofCart{
        position: absolute;
    top: -8px;
    left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    font-size: 19px;
}

/* navbar */

.navbar{
    background: var(--main-color);
    height: 30%;
    box-shadow: 0 0 1px 1px gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.navbar ul a{
    margin: 0 20px;
    font-size: 21px;
    font-weight: 600;
    color: #525425;
    cursor: pointer;
    align-items: center;
    padding: 9px;
border-radius: 10px;
text-decoration: none;


}
.navbar ul a:hover{
background: snow;

}
/* media queries */

@media (max-width:990px){
    .search-middle{
        width: 550px;
    }
}
@media (max-width:920px){
    .search-middle{
        width: 400px;
    }
    .header-title ,.header-contact,.header-log{
font-size: 17px;
font-weight: 400;
    }
     
}


@media (max-width:720px){
  .header-menu{
    display: block;
    
}
 .header-menu i{
    font-weight: 400;
    color: white;
    font-size: 30px;
 }

.header-title{
    display: none;
}
.logo-middle{
    display: none;
    
}
.logo-middle b{
    color: white;
}
.search-middle{
width: 70%;
height: 45px;
}

.navbar{
    position: fixed;
    top: 40px ;
    left: -300px;
    height: 100%;
    width: 300px;
    z-index: 99;
    background-color: var(--main-color);
transition: all .5s ease-in-out;
}
.navbar ul{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.navbar ul li{
    width: 100%;
    margin: 0;text-align: center;
}


.header{
    height: 200px;
}
.cart-middle {
    font-size: 40px;
    cursor: pointer;

}
}
@media (max-width:520px){
    .header-middle{
padding: 0 10px;
    }
  .search-middle input{
    font-size: 20px;
    width:70%;
  }  
}



